@font-face {
  font-family: josapin;
  src: url(assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lobster;
  src: url(assets/fonts/Lobster-Regular.ttf);
}
body {
  box-sizing: border-box;
  position: relative;
  background-color: black;
  /* padding: 0px 72px 0px 72px; */
}
* {
  color: rgb(255, 255, 255);
}

/* p {
  font-family: lato;
  font-size: 0.9rem;
} */

section {
  margin: 0 72px 0 72px;
  position: relative;
  height: 100vh;
  left: 0px;
  border-radius: 0px;
  border: 1px solid blue;
}
.homepage {
  top: 0px;
}
.header {
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  position: fixed;
  border-bottom: 2px solid purple;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
}
.brand {
  margin-left: 72px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}
.sks {
  background: linear-gradient(45deg, rgb(221, 0, 255), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: Lobster, cursive;
}

nav {
  /* border: 1px solid rgb(0, 225, 255); */
  margin-left: 170px;
}
.navlink {
  padding: 0;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid; */
}
.navlink li {
  /* border: 1px solid; */
  display: inline-block;
  list-style: none;
}
.navlink li a {
  background: linear-gradient(45deg, rgb(221, 0, 255), rgb(255, 0, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.375rem;
  text-decoration: none;
  font-family: josapin;
}
a:hover {
  font-weight: bolder;
}
.welcomeword p {
  display: flex;
  justify-content: center;
  /* border: 1px solid pink; */
  margin: 0.5em;
  font-size: 1em;
  color: white;
}

.welcomeword {
  position: absolute;
  width: 700px;
  left: 15px;
  top: 370px;
  /* border: 1px solid; */
}
.logo_box {
  /* border: 1px solid white; */
  width: 500px;
  height: 500px;
  position: absolute;
  right: 2rem;
  top: 7rem;
  display: grid;
  place-items: center;
}
/*  */

.profilelogo_gradient-ring {
  /* position: relative; */
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    rgb(255, 0, 208),
    rgb(162, 0, 255),
    transparent 80%
  );
  animation: rotate 8s linear infinite;
  filter: blur(5px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.H_logo {
  position: absolute;
  z-index: 15;
  background: url(assets/images/home.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  width: 485px;
  height: 485px;
  border: 1.2px solid rgb(255, 1, 247);
  /* box-shadow: 5px 5px black ; */
  /* opacity: 1; */

  /* border: 1px solid; */
}
.backgroud_mesh {
  position: relative;
  z-index: -1;
  opacity: 0.5;
  top: 2rem;
  left: -20rem;
  border-radius: 50%;
  width: 600px;
  height: 300px;
  background: linear-gradient(
    rgb(255, 0, 208),
    rgb(166, 0, 255),
    rgb(255, 0, 0)
  );
  animation: rotate 8s linear infinite;
  filter: blur(150px);
}
footer {
  position: absolute;
  bottom: 0;
  border: 2px solid yellow;
}
.head_line_box {
  /* margin: 0; */
  position: absolute;
  left: 0;
  top: 150px;
  display: grid;
  grid-template-columns: 21% 79%;
  width: 700px;
  /* border: 1px solid white; */
}
.hi_box {
  z-index: 999;
  /* border: 1px solid red; */
}
.hi_box > h2 {
  font-size: 1.4em;
  font-family: josapin;
  line-height: 2.5rem;
  color: white;

  font-weight: normal;
}
.hi_box span {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.move_box {
  z-index: 999;
  display: flex;
  align-items: end;
  /* margin-bottom: 0.01rem; */

  /* border: 1px solid yellow; */
}
.move_box > h1 {
  margin-bottom: 0.8rem;

  background-image: linear-gradient(
    to right,
    rgb(244, 184, 253),
    rgb(238, 0, 255)
  );
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  text-decoration: none;
  font-family: josapin;
}

.Hsocial {
  position: absolute;
  bottom: 45px;
  justify-content: space-between;
  display: flex;
  /* border: 1px solid pink; */
  width: 300px;
  height: 50px;
  align-items: center;
}
.Hsocial div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid rgb(250, 250, 250); */
  height: 36px;
  width: 36px;
  border-radius: 100%;
  padding: 0px;
  background-color: white;
}
.Hsocial div:hover {
  background-color: rgb(255, 0, 255);
  cursor: pointer;
}
.Hsocial div div {
  border: 3px liner;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 0px;
}

.logo1 {
  background: url(assets/images/social/facebook.png);
  background-size: 40px;

  background-position: center;
}
.logo2 {
  background: url(assets/images/social/instagram.png);

  background-size: 40px;
  background-position: center;
}
.logo3 {
  background: url(assets/images/social/twitter.png);

  background-size: 40px;

  background-position: center;
}
.logo4 {
  background: url(assets/images/social/linkedin.png);

  background-size: cover;

  background-position: center;
}
.logo5 {
  background: url(assets/images/social/whatsapp.png);

  background-size: cover;

  background-position: center;
}
.logo6 {
  background: url(assets/images/social/github.png);

  background-size: 37px;

  background-position: center;
}
/* about me css */

.abut {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}

.aboutme {
  margin: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutme h1 {
  /* border: 1px solid red; */
  margin: 40px 0 0 0;
}
.about_p {
  margin: 0px 10px 10px;
  /* border: 2px solid red; */
}
.about_p > p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  font-size: 1em;
  line-height: 0.8rem;
  color: white;
}
.aboutimg {
  /* border: 1px solid red; */
  height: 600px;
  padding: 50px;
}
.fourborder {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  /* width: 600px; */
  height: 600px;
  /* border: 1px solid red; */
}
.items {
  /* border: 1px solid red; */
  margin: 60px;
}
.box1 {
  background: url(assets/images/about01.jpg);
  background-size: cover;
  background-position: center;
  /* box-shadow: yellow 10px; */
  width: 250px;
  height: 250px;
  animation: box1 3s infinite 1s infinite linear;
}

.box2 {
  background: url(assets/images/about02.jpg);
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}
.box3 {
  background: url(assets/images/about03.jpg);
  background-size: cover;
  background-position: center;
  width: 175px;
  height: 175px;
}
.box4 {
  background: url(assets/images/about04.jpg);
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  animation-name: moving;
  animation-timing-function: linear;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

.h1font {
  background-image: linear-gradient(
    to right,
    rgb(244, 184, 253),
    rgb(238, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
  text-decoration: none;
  font-family: josapin;
}

/* skills page css */

.skillpage {
  position: relative;
}

.skillparagraph {
  top: 80px;
  right: 60px;
  z-index: 10;
  position: absolute;

  padding: 30px 30px 0px;
  text-align: center;
  width: 500px;
}
.skillparagraph > .h1font {
  margin: 0;
  text-align: center;
}
.skillparagraph > p {
  line-height: 1.8rem;
}
.skilltoolgrid {
  display: grid;
  /* border: 1px solid white; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 600px;
  height: 600px;
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 0;
}
.hover:hover {
  transform: scale(1.5);
  box-shadow: 6px 6px 8px rgb(255, 0, 191);
  border-radius: 50%;
  
  
}
.skill_box {
  margin-top: 50px;
 
 display: flex;
 justify-content: center;
 align-items: center;
  /* border: 5px solid white; */
  width: 700px;
  /* height: 695px; */
  
}
.watermark{
  transform: rotate(-45deg);
  /* transform: translate(50% 50%); */
  /* color:white; */
  position: absolute;
  /* z-index: 300; */
  position: absolute;
  font-size: 8rem;
  opacity: 0.1;
}
.skill_ring{
  position: absolute;
  z-index: -100;
  width: 500px;
  height: 500px;
  /* border: 2px solid white; */
  border-radius: 50%;
  background: linear-gradient(to right,rgb(255, 0, 204),transparent 95%);
  animation: ringskill 10s linear infinite ;
  opacity: 0.5;
}
.skill_ring::before{
  position: absolute;
  content: '';
   /* width: 500px;
  height: 500px; */
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: black;
}
@keyframes ringskill {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.SI_box3{
  background: url(assets/images/java.png);
  background-size: cover;
background-position: center;
}
.SI_box10{
  background: url(assets/images/python.png);
  background-size: cover;
background-position: center;
}
.SI_box20{
  background: url(assets/images/sql.png);
  background-size: cover;
background-position: center;
}
.SI_box23{
  background: url(assets/images/figma.png);
  background-size: cover;
background-position: center;
}
.SI_box16{
  background: url(assets/images/css01.png);
  background-size: cover;
background-position: center;
}
.SI_box6{
  background: url(assets/images/html.png);
  background-size: cover;
background-position: center;
}

/* project page css */
.project_page{
  position: relative;
}
.projectword_box{
  border-radius: 50%;
  height: 550px;
  width: 550px;
  /* border: 1px solid white; */
  position: absolute;
  right: 50px;
  top: 100px;
display: flex;
 justify-content: center;
 align-items: center;
   flex-direction: column;
} 
.projectword_box p{
  z-index: 100;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.5rem;
}
.projectword_box .h1font{
  margin: 0;
  z-index: 100;
}
.projectword_box .p_ring{
  /* border: 1px solid white; */
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to right,rgb(246, 141, 225),transparent 50%);
  animation: project_ring 3s linear infinite ;
}
.projectword_box:hover{
  transform: scale(1.1);
  box-shadow: 6px 5px 10px white;
  /* animation: none; */
}

.projectword_box .p_ring::before{
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background: black;
  border-radius: 50%;

}

@keyframes project_ring {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.main_project_box{
  margin-top: 40px;
  margin-left: 40px;
  width: 600px;
  height: 600px;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.project_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  /* border: 5px solid red; */
  padding: 5px;
}
.project_box:hover{
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 3px 3px 6px rgb(255, 255, 255);
  /* transition: ease-in-out; */
}
.pbi{
  margin: 0;
border: 1px solid white;
width: 250px;
height: 150px;
}
.main_project_box p{
  margin: 0;
}
/* contact me page */
.contactMe{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.contacth1{
 margin-top: 80px;
  /* top: 100px; */
  /* border: 1px solid red; */
  text-align: center;
}
.tanks_box{
  font-style: normal;
  /* border: 1px solid red; */
  text-align: center;
  width: 1000px;
  line-height: 1.8rem;
}
.contactSocial{
  margin-top: 20px;
  /* border: 1px solid red ; */
  display: flex;
  width: 600px;
  height: 80px;

}
.contactScocialIcon{
  /* border: 1px solid yellow; */
   width: 100px;
   margin-left: 10px;
   margin-right: 10px;
 
}
.CS1{
  background: url(assets/images/whatsapp.png);
  background-size: cover;
  background-position: center;
}
.CS2{
  background: url(assets/images/linkedin.png);
  background-size: cover;
  background-position: center;
}
.CS3{
  background: url(assets/images/twitter.png);
  background-size: cover;
  background-position: center;
}
.CS4{
  background: url(assets/images/instagram.png);
  background-size: cover;
  background-position: center;
}
.CS5{
  background: url(assets/images/facebook.png);
  background-size: cover;
  background-position: center;
}
.CS6{
  background: url(assets/images/github.png);
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}