@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  section {
    padding: 0 4rem;
  }
  .move_box {
    width: 380px;
    /* font-size: large; */
  }
  .header {
    height: 40px;
  }
  nav {
    margin-right: 6%;
  }
  .navlink li {
    margin-right: 2rem;
  }
  .navlink li a {
    font-size: 1rem;
  }

  .h1font {
    font-size: 2.5rem;
  }

  .Hsocial div div {
    height: 25px;
    width: 25px;
  }
  .logo_box {
    width: 400px;
    height: 480px;
    right: 2rem;
    top: 7rem;
  }

  .welcomeword {
    top: 45%;
  }
  .move_box > h1 {
    font-size: 2.5rem;
  }
  /* about me page */

  .fourborder {
    width: 300px;
    height: 300px;
    left: 10%;
  }

  /* skill page */

  .skillparagraph {
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .skilltoolgrid {
    width: 400px;
    height: 400px;
  }

  /* project page */

  .projectword_box .p_ring {
    /* border: 4px solid red ; */
    height: 350px;
    width: 350px;
  }
  .main_project_box {
    width: 450px;
    height: 450px;
  }

  .projectword_box {
    height: 350px;
    width: 350px;
    top: 25%;
    right: 8%;
  }
  /* contact page */
}

@media screen and (max-width: 768px) {

.backgroud_mesh{width: 500px;
  height: 200px;}

  nav {
    display: none;
  }
  .menu {
    width: 25px;
    height: 25px;
    background: url(../images/menu_button.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 8%;
  }

  .Hsocial {
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .hi_box {
    top: 10%;
  }
  .move_box {
    top: 17%;
  }
  .welcomeword {
    width: 90vw;
    top: 32rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .welcomeword > p {
    line-height: 1.5rem;
  }

  .head_line_box {
    top: 60px;
    left: 80px;
  }

  .logo_box {
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    top: 12rem;
  }

  /* about page */

  .fourborder {
    top: 5%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    filter: none;
    transform: scale(1);
  }
  .fourborder:hover {
    border: none;
    transform: scale(1);
  }
  .abut {
    height: 100vh;
  }

  .aboutme {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 39%;
    width: 90vw;
  }
  .about_p {
    width: 90vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* skill page */
  .skilltoolgrid {
    top: 8%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .skillparagraph {
    width: 90vw;
    top: 40%;
  }

  /* project page */
  .main_project_box {
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
  }

  /* contact me page */

  .tanks_box {
    width: 90vw;
  }
  .contactSocial {
    top: 73%;
  }
}

@media screen and (max-width: 425px) {
  nav {
    display: none;
  }
  .homepage{
    height: 800px;
  }
.abut{
  overflow-y: scroll;
}
.skillpage{
  overflow-y: scroll;
}
.backgroud_mesh{width: 400px;
  height: 150px;}


  .menu {
    width: 25px;
    height: 25px;
    background: url(../images/menu_button.png);
    background-size: cover;
    background-position: center;
    right: 8%;
  }

  .Hsocial {
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .hi_box {
    top: 8%;
  }
  .hi_box > h2 {
font-size: 1rem;
  }
  .hi_box span {
    font-size: 1.5rem;
  }
  .move_box {
    top: 17%;
  }
 
  .welcomeword {
    width: 90vw;
    top: 32rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .welcomeword > p {
    line-height: 1.5rem;
  }

  .head_line_box {
    top: 60px;
    left: 80px;
  }

  .logo_box {
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    top: 12rem;
  }

  /* about page */

  .fourborder {
    top: 5%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    filter: none;
    transform: scale(1);
  }
  .fourborder:hover {
    border: none;
    transform: scale(1);
  }
  .abut {
    height: 100vh;
  }

  .aboutme {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 39%;
    width: 90vw;
    /* border: 2px solid red; */
  }
  .about_p {
    /* border: 2px solid red; */
    width: 90vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* skill page */
  .skilltoolgrid {
    top: 8%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .skillparagraph {
    width: 90vw;
    top: 40%;
  }

  /* project page */
  .main_project_box {
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
  }

  /* contact me page */

  .tanks_box {
    /* border: 5px solid red; */
    width: 90vw;
  }
  .contactSocial {
    top: 73%;
  }
}
@media screen and (max-width: 375px) {
  body {
    background-color: rgb(255, 0, 174);
  }
}
@media screen and (max-width: 320px) {
  body {
    background-color: rgb(0, 255, 34);
  }
}
