

@media screen and (min-width: 1440px){
section{
    width:100%;
   
}
}

@media screen and (max-width: 1024px){
section{
  height: 100vh;
    width: 100%;
    padding: 0 2.5rem;
}
.header { 
  height: 40px;
}
nav {
  margin-right: 6%;
}
.navlink li {
  margin-right: 2rem;
  
}
.navlink li a{font-size: 1rem;
}

p{font-size: 0.9rem;
line-height: 1.3rem;
}
.h1font{font-size: 2.5rem;
}

.Hsocial div div {
  height: 25px;
  width: 25px;

  
}
.logo_box{
  right: 7rem;
  top: 10rem;
  width: 350px;
  height: 350px;
}
.H_logo {
   width: 340px;
  height: 340px;
}
.profilelogo_gradient-ring{
  width: 350px;
  height: 350px;
}
.welcomeword{
   top: 45%;
}
.move_box > h1{
  font-size: 2.5rem;
}
/* about me page */

.fourborder{
    width: 300px;
  height: 300px;
  left: 10%;
}
.fourborder:hover{}

.aboutme{
    /* width: 50%; */
}

/* skill page */

.skillparagraph {
 
  width: 45%;
  margin-left: 1%;
  margin-right: 1%;
}

.skilltoolgrid{
  width: 400px;
  height: 400px;
}


.watermark{
    font-size: 4rem;
}


/* project page */

.projectword_box .p_ring{
  border: 4px solid red ;
  height: 350px;
  width: 350px;
}
.main_project_box{
  
  width: 450px;
  height: 450px;

}

.projectword_box{
 height: 350px;
  width: 350px;
  top: 25%;
  right: 8%;
}

/* contact page */
.contactSocial{
  width: 500px;
  height: 50px;}

}

























@media screen and (max-width: 768px){
    nav{
        display: none;
    }
section{
    width: 100%;
    padding: 0.5rem;
}

}
@media screen and (max-width: 425px){
    body{background-color: rgb(0, 204, 255);
}

}
@media screen and (max-width: 375px){
    body{background-color: rgb(255, 0, 174);
}

}
@media screen and (max-width: 320px){
    body{background-color: rgb(0, 255, 34);
}

}